#scroll {
  background-color: whitesmoke;
  color: red;
}

#codex {
  background-color: violet;
  color: indigo;
}

#webpage {
  background-color: gold;
  color: crimson;
}

#website {
  background-color: lightskyblue;
  color: blue;
}

#feed {
  background-color: greenyellow;
  color: green;
}