/* NORMALIZE */
*, html {
  padding: 0;
  margin: 0;
}

/* FONTS */
@font-face {
  font-family: "Suisse Works";
  src: url("fonts//SuisseWorks-Regular-WebXL.woff2") format("woff2"),
       url("fonts//SuisseWorks-Regular-WebXL.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Suisse Works";
  src: url("fonts//SuisseWorks-RegularItalic-WebXL.woff2") format("woff2"),
       url("fonts//SuisseWorks-RegularItalic-WebXL.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "Suisse Int'l";
  src: url("fonts//SuisseIntl-Regular-WebM.woff2") format("woff2"),
       url("fonts//SuisseIntl-Regular-WebM.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Suisse Int'l";
  src: url("fonts//SuisseIntl-RegularItalic-WebM.woff2") format("woff2"),
       url("fonts//SuisseIntl-RegularItalic-WebM.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "Suisse Mono";
  src: url("fonts//SuisseIntlMono-Bold-WebS.woff2") format("woff2"),
       url("fonts//SuisseIntlMono-Bold-WebS.woff") format("woff");
  font-style: bold;
}

/* SECTIONS */
body {
  font-family: "Suisse Works", serif;
}

p {
}

img {
  width: 100%;
  margin: 0.5em 0;
}

hr {
	height:1px;
	border:none;
  color: black;
  background: black;
}

a {
  font-family: "Suisse Int'l", sans-serif;
  color: black;
  cursor: ne-resize;
}

.similar {
  background-color: black;
  color: white;
  border-radius: 500px;
  padding: 0 0.5em;
  cursor: pointer;
}

.similar:hover {
  background-color: gray;
  color: black;
}

.title {
  font-family: "Suisse Int'l", sans-serif;
  font-size: 1.3em;
  margin-bottom: 1rem;
  padding-top: 1rem;
  border-top: 2px solid black;
}

#intro {
  height: 100vh;
  width: 100vw;
  background-color: lemonchiffon;
  z-index: 10; /* why doesn't this hide the shadow? */
}

#intro h1, #intro p {
  padding: 1rem;
}

#intro h1 {
  font-size: 10vw;
  line-height: 0.9;
  letter-spacing: -0.05em;
}

#intro p {
  font-family: "Suisse Int'l", sans-serif;
  font-size: 2em;
  margin-left: 30vw;
  text-indent: 0;
  position: absolute;
  bottom: 0;
}

#byline {
  font-size: 1rem;
}

#hint {
  margin-left: 0 !important;
  font-size: 2em !important;
  animation: bob 2s ease infinite;
}

@keyframes bob {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 1rem;
  }
}

#wrapper {
  width: 100%;
  display: flex;
}

.medium {
  width: 20%;
  min-width: 12%;
  height: calc(100vh - 2em);
  overflow: hidden;
  background-color: #e0e0e0;
  position: relative;
}

.medium-title {
  border: 1px solid black;
  border-radius: 500px;
  padding-left: 0.3em;
}

#scroll, #webpage, #feed {
  background-color: white;
}

.medium-intro {
  margin: 1rem 0 0.5rem 2rem;
  font-style: italic;
}

.medium-article {
  text-indent: 2rem;
}

.caption {
  font-family: "Suisse Mono", monospace;
  font-weight: normal;
  text-transform: uppercase;
  text-indent: 0;
  font-size: 0.7em;
  margin-bottom: 1em;
}

.handle {
  width: 0.5em;
  background-color: black;
  color: white;
  cursor: col-resize;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: 10;
}

table {
  font-family: "Suisse Mono", monospace;
  font-size: 0.7em;
  text-transform: uppercase;
  width: calc(100% - 2rem);
  margin-left: 2rem;
  margin-bottom: 2rem;
}

td:first-child {
  font-weight: bold;
}

td:last-child {
  color: grey;
}

table td, table td * {
    vertical-align: top;
}

h1 {
  font-weight: normal;
}

#scroll-mask {
  width: inherit;
  height: 100px;
  position: fixed;
  background-color: red;
}

::selection {
  background-color: rgba(0, 0, 0, 0.99);
  color: white;
}

#no-mobile {
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: none;
}

#no-mobile p {
  text-align: center;
  color: white;
  font-size: 1.5em;
}

iframe {
  width: 100%;
  height: calc(100vh - 2em);
  border: none;
}

/* @media only screen and (max-width: 1300px) {
  p {
    font-size: 0.8em;
  }

  .caption, table {
    font-size: 0.5em;
  }

  #intro p, h1 {
    font-size: 1.5em;
  }

  .title {
    font-size: 1em;
  }
} */

@media only screen and (max-width: 1000px) {
  #no-mobile {
    display: flex;
  }
}
